<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="home">
    <div class="container-search">
        <input type="text" name="symbol" placeholder="Enter a symbol" class="input-symbol" [(ngModel)]="valueSearch">
        <button (click)="searchSymbol()" class="button-search">Search</button>
    </div>
    <div class="container-stocks">
        <div class="container-table">
            <table>
                <thead>
                    <tr>
                        <th>
                            <div class="filter">
                                Symbol
                                <span (click)="sortSymbol()" *ngIf="isAscendingSymbol" class="material-symbols-outlined arrow">
                                    keyboard_arrow_down
                                </span>
                                <span (click)="sortSymbol()" *ngIf="!isAscendingSymbol" class="material-symbols-outlined arrow">
                                    keyboard_arrow_up
                                </span>
                            </div>
                        </th>
                        <th>
                            <div class="filter">
                                Price
                                <span (click)="sortPrice()" *ngIf="isAscendingPrice" class="material-symbols-outlined arrow">
                                    keyboard_arrow_down
                                </span>
                                <span (click)="sortPrice()" *ngIf="!isAscendingPrice" class="material-symbols-outlined arrow">
                                    keyboard_arrow_up
                                </span>
                            </div>
                        </th>
                        <th>
                            <div class="filter">
                                Change
                                <span (click)="sortChange()" *ngIf="isAscendingChange" class="material-symbols-outlined arrow">
                                    keyboard_arrow_down
                                </span>
                                <span (click)="sortChange()" *ngIf="!isAscendingChange" class="material-symbols-outlined arrow">
                                    keyboard_arrow_up
                                </span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="!valueNotFound">
                    <tr *ngFor="let stocks of stocks">
                        <td class="text-symbol">{{stocks.symbol}}</td>
                        <td>{{'$' + stocks.data.c}}</td>
                        <td [ngClass]="stocks.data.d > 0 ? 'gainer' : 'loser'">{{stocks.data.d > 0 ? '+' + stocks.data.d : stocks.data.d}} ({{stocks.data.dp | number: '1.2-2' }}%)</td>
                    </tr>
                </tbody>
                <tbody *ngIf="valueNotFound">
                    <tr>
                        <td>
                            Stock not found
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </div>
  </div>